* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Custom fonts */

@font-face {
    font-family: "Main";
    /* Uses the Source Sans Pro font, Copyright 2010-2018 Adobe, license: https://github.com/adobe-fonts/source-sans-pro/blob/release/LICENSE.md */
    src: url(/SourceSansPro-Light.ttf);
}

@font-face {
    font-family: "Main";
    /* Uses the Source Sans Pro font, Copyright 2010-2018 Adobe, license: https://github.com/adobe-fonts/source-sans-pro/blob/release/LICENSE.md */
    src: url(/SourceSansPro-Regular.ttf);
    font-weight: bold;
}

/* Color palette: https://colorhunt.co/palette/7817 */

:root {
    --website-background-color: #ecf0f1;
    --website-content-background-color: #F7F7F0;
    --website-text-color: #34495e;
    --header-color: #3498db;
    --navigation-items-color: #f1c40f;
}

/* Global */

body {
    background: var(--website-background-color);
    color: var(--website-text-color);
    font-family: Main;
    text-align: center;
}

.wrapper {
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    padding: 30px;
    text-align: left;
}

.content {
    background: var(--website-content-background-color);
    border-radius: 0px 0px 10px 10px;
}

a {
    color: inherit;
}

/* Website header */

header {
    background-color: var(--header-color);
}

header .wrapper {
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
}

header a {
    text-decoration: none;
}

header .site-name {
    font-size: 1.0em;
    color: #ecf0f1;
    font-weight: bold;
}

/* About section */

.clearfix {
    overflow: auto;
}

img.avatar {
    float: left;
    border-radius: 10px;
    width: 20%;
    max-width: 150px;
    margin-right: 20px;
}

div.introduction {
    overflow: hidden;
    margin-bottom: 30px;
}

div.introduction h1 {
    margin-bottom: 10px;
}

.description {
    margin-bottom: 40px;
}

h1 {
    font-size: 1.3em;
}

p {
    font-size: 1.1em;
    margin-bottom: 10px;
}

/* Social media items */

.navigation-items-container {
    padding: 0;
    margin: 0;
    list-style: none;

    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
}

.navigation-item {
    background: var(--navigation-items-color);
    border-radius: 5px;
    padding: 5px;
    width: 150px;
    height: 40px;
    margin: 2px;

    line-height: 30px;
    color: white;
    font-size: 1em;
    text-align: center;
    flex-grow: 1;
}

.navigation-item img {
    padding: 6px;
    width: 30px;
    height: 30px;
    vertical-align: middle;
}

.navigation-item a {
    text-decoration: none;
}

/* Footer */

footer {
    padding-top: 15px;
    color: #8a8a8a;
}

footer p {
    font-size: 0.85em;
}
